*{
    margin:0px;
    padding:0px;
    z-index: none;
    
}
:root {
    --main-color: goldenrod;
    --text-color: #020102;
    --bg-color: #fff;
}


.Login{
    background-color: blueviolet;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.Login .Login1{
    background-color: aquamarine;
    height:60vh;
    width:120vh;
    display:flex;
}
.Part{
    width:60vh;
    padding:50px;
    display:flex;
    justify-content: center;

    
}
.Part h2{
    font-size: 50px;
    text-align:center;
}
.Part input{
    border-radius: 7px;
    height:40px;
    width:40vh;
    margin-top: 20px;

}
.submit{
    background-color: goldenrod;
    height:30px;
    width:40vh;
    border-radius: 7px;
    margin-top:50px;
}




