.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo */
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
}

.product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-item {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
}

