<!DOCTYPE html> 
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="khachhang.css">
    <title>Information_Customer</title>
</head>
<body >
    <h2 class="title_form">Thông tin khách hàng</h2>
    <div class="information_customer">
        <form action="" method="post">
            <table>
                <tr>
                    <td class="td_name">
                        <label for="username">Tên đăng nhập:</label>
                    </td>
                    <td>
                        <label for="name_username">Danh2003</label> <br>
                    </td>
                </tr>

                <tr>
                    <td class="td_name">
                        <label for="username">Tên</label>
                    </td>
                    <td>
                        <input class="inp_text" type="text" id="name" name="name" required><br>
                    </td>
                </tr>
                <tr>
                    <td class="td_name">
                        <label for="email">Email</label>
                    </td>
                    <td>
                        <input class="inp_text" type="text" id="email" name="email"><br>
                    </td>
                </tr>
                <tr>
                    <td class="td_name">
                        <label for="address">Địa chỉ</label>
                    </td>
                    <td>
                        <input class="inp_text" type="text" id="address" name="address"><br>
                    </td>
                </tr>
                <tr>
                    <td class="td_name">
                        <label for="SĐT">Số điện thoại</label>
                    </td>
                    <td>
                        <input class="inp_text" type="text" id="SĐT" name="SĐT" ><br>
                    </td>
                </tr>
                <tr>
                    <td class="td_name">
                        <label for="Gioitinh">Giới tính</label>


                    </td>
                    <td>
                        <input type="radio" id="nam" name="" value="nam">
                        <label for="html">Nam</label>
            
                        <input type="radio" id="nu" name="" value="nu">
                        <label for="html">Nữ</label>
            
                        <input type="radio" id="khac" name="" value="khac">
                        <label for="html">Khác</label><br>
                    </td>
                </tr>
                <tr>
                    <td class="td_name">
                        <label for="ngaysinh">Ngày sinh</label>
                    </td>
                    <td>
                        <select name="ngay" id="ngay">
                            <option>30</option>
                        </select>
                        <select name="thang" id="thang">
                            <option>12</option>
                        </select>
                        <select name="nam" id="nam">
                            <option>2000</option>
                        </select><br>
                    </td>
                </tr>
            </table>
            <button class="save_btn">Lưu</button>
        </form>
    </div>
    
</body>
</html>